h2 {
    color: white;
    text-align: center;
}
form {
    text-align: center;
}
#test {
    opacity: 0.9;
}

html, body {
    min-height: 100%;
}
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

nav
{
    overflow: auto;
}

h5{
    color: black;
    text-align: center;
}
.b1-create{
    background-color: black;
    color: #ffffff;
    border-radius: 0;
    text-align: center;
}

